<div>
  <div>
    <div style="width: 100%; height: 0.7em; border: 3px solid green; border-radius: 10px; margin: 2em 0px 1em;">
      <div style="width: {{(100/40)*progress}}%; height: 100%; background: green; border-radius: 5px 10px 10px 5px; display: flex; flex-direction: row-reverse;">
        <div style="width: 50px; height: 50px; background: green; border-radius: 300px; color: white; position: absolute; transform: translate(10px, -20px); display: flex; flex-direction: column; justify-content: center; text-align: center; font-size: 14px; vertical-align:center;" class="govuk-body"><strong><sup>{{progress}}</sup>&frasl;<sub>40</sub></strong></div>
      </div>
    </div>
  </div>
</div>
