<head>
  <link rel="stylesheet" href="./public/stylesheets/application.css">
  <style media="screen">
    .vignette {
      background: white;
      padding: 2em;
      border: 4px solid blue;

    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style=" height:100vh; width:100vw; background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));">
  <div class="govuk-width-container govuk-!-margin-top-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="vignette">
          <p style=" font-size:24px; ">
            You need to now imagine you have received an email from the Department for Education
          </p>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-9">
      <div style="background: white;" class="govuk-grid-column-three-quarters">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">From:</th>
              <td class="govuk-table__cell">help_to_retrain@education.gov.uk</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">To:</th>
              <td class="govuk-table__cell">your_name@email.co.uk</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Subject</th>
              <td class="govuk-table__cell">New jobs available where you live</td>
            </tr>
          </tbody>
        </table>
        <p class="govuk-body">
          Hello
        </p>
        <p class="govuk-body">
          Your CV is often how you make a first impression on an employer. It needs to put across the right message, have the right presentation, and have no mistakes.
        </p>
        <p class="govuk-body">
To understand how to create a good CV, see our advice page: <a href="./vignette-4">CV tips</a>
       </p>

        <h3 class="govuk-heading-m">
          What you need to do now
        </h3>
        <p class="govuk-body">
          <a href="./vignette-4">See your step by step guide</a> to apply for more jobs
        </p>
        <div class="govuk-inset-text">
          You can <a href="./vignette-career">contact an adviser</a> to get help with retraining, job search or general advice.
        </div>
        <p class="govuk-body">
          Thanks,<br>
          Camilla,<br> Retraining Manager.
        </p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <span class="govuk-caption-m govuk-!-margin-top-9">Did you know?</span>
        <h3 style="margin-top:0px;" class="govuk-heading-m">
          These jobs are available in your area.
        </h3>
        <div class="govuk-grid-row govuk-!-margin-bottom-9">
          <div class="govuk-grid-column-one-third">
            <h4 class="govuk-heading-s">Team leader £22,000</h4>
            <p>A motivated person needed to run a small team.</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h4 class="govuk-heading-s">Junior manager £19,500</h4>
            <p>Help us in our new business.</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h4 class="govuk-heading-s">Co-ordinator £21,600</h4>
            <p>Established company is growing and needs 3 new staff.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include "includes/scripts.html" %}
</body>
