<head>
  <link rel="stylesheet" href="./public/stylesheets/application.css">
  <style media="screen">
    .vignette {
      background: white;
      padding: 2em;
      border: 4px solid blue;

    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style=" height:100vh; width:100vw; background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));">
  <div class="govuk-width-container govuk-!-margin-top-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="vignette">
          <p style=" font-size:24px; ">
            You need to now imagine you have received an email from the Department for Education
          </p>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-9">
      <div style="background: white;" class="govuk-grid-column-three-quarters">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">From:</th>
              <td class="govuk-table__cell">help_to_retrain@education.gov.uk</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">To:</th>
              <td class="govuk-table__cell">your_name@email.co.uk</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Subject</th>
              <td class="govuk-table__cell">Advice and guidance on choosing a training course</td>
            </tr>
          </tbody>
        </table>
        <p class="govuk-body">
          Hello
        </p>
        <p class="govuk-body">
We want to offer you advice and guidance as you move through the steps to getting training and a new job.         </p>
        <h3 class="govuk-heading-m">
          Choosing the best training course for you
        </h3>
        <p class="govuk-body">
          There are lots of things to consider when choosing a course, such as:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how much it costs</li>
          <li>whether it's in a classroom, online or both</li>
          <li>if it fits with your work and family life</li>
        </ul>
        <p class="govuk-body">
          You can find more advice and guidance in the <a href="#">choosing the course that’s right for you</a> section of <a href="#">get help to retrain</a>. You can also look at how the government might help you pay for some training in the <a href="#">find out about funding</a> section.
        </p>
        <h3 class="govuk-heading-m">
          Choosing the best training course for you
        </h3>
        <p class="govuk-body">
          You can <a href="#">contact an adviser</a> at any point to get help with training, job search or general advice.
        </p>
        <p class="govuk-body">
          Don’t forget, you can <a href="#">return to the service</a> to see:
        </p>
        <ul class="govuk-list govuk-list--bullet">
<li>your step by step checklist</li>
<li>what you need to do next</li>
<li>jobs that you can apply for</li>

        </ul>
        <p class="govuk-body govuk-!-margin-bottom-9">
          Thanks,
          Camilla,<br> Retraining Manager.
        </p>
      </div>
    </div>
  </div>
{% include "includes/scripts.html" %}
</body>
