
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Find a job</h1>
        <p class="govuk-body">Use the ‘Find a job’ service to search and apply for jobs.</p>
        <a href="./vignette-3" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
        </a>


      </div>
      <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-m">Get more advice and guidance</h1>
        <ul class="govuk-list">
          <li>
            <p>
              <a href="./vignette-career">Speak to a careers adviser</a>
            </p>
          </li>
        </ul>
      </div>

    </div>
  </main>
</div>
{% endblock %}
