<link rel="stylesheet" href="/public/stylesheets/application.css">
<div class="govuk-width-container">
  <h1 class="govuk-heading-xl govuk-!-margin-top-9">Sitemap</h1>
  <h3 class="govuk-heading-m govuk-!-margin-top-9">Start</h3>
  <ul>
    <li>
      <p class="govuk-body"><a target="_blank" href="index.html">Get help to retrain</a></p>
    </li>
  </ul>
  <h3 class="govuk-heading-m govuk-!-margin-top-6">Understand yourself</h3>
  <ul>
    <li>
      <p class="govuk-body"><a target="_blank" href="step-by-step-1.html">Get help to retrain: step by step (1)</a></p>
    </li>
    <li>
      <p class="govuk-body"><a target="_blank" href="skills-start.html">Check your skills and experience</a></p>
    </li>
    <li>
      <p class="govuk-body"><a target="_blank" href="results.html">Retrain to do these jobs</a></p>
    </li>
    <li>
      <p class="govuk-body"><a target="_blank" href="details.html">Retrain to be a [target job]</a></p>
    </li>
  </ul>
  <h3 class="govuk-heading-m govuk-!-margin-top-6">Find a course</h3>
  <ul>
    <li>
      <p class="govuk-body"><a target="_blank" href="step-by-step-2.html">Get help to retrain: step by step (2)</a></p>
    </li>
    <li>
      <p class="govuk-body"><a target="_blank" href="communication.html">Find a communications level 3 course</a></p>
    </li>
    <li>
      <p class="govuk-body"><a target="_blank" href="course-detail.html">Communication level 3 courses near you</a></p>
    </li>
    <li>
      <p class="govuk-body"><a target="_blank" href="course-results.html">Course detail page</a></p>
    </li>
    <li>
      <p class="govuk-body"><a target="_blank" href="provider.html">Course provider page</a></p>
    </li>
  </ul>
  <h3 class="govuk-heading-m govuk-!-margin-top-6">Find a job</h3>
  <ul>
    <li>
      <p class="govuk-body"><a target="_blank" href="step-by-step-3.html">Get help to retrain: step by step (3)</a></p>
    </li>
    <li>
      <p class="govuk-body"><a target="_blank" href="find-a-job.html">Find a job service start</a></p>
    </li>
  </ul>
</div>
