
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./step-by-step-1.html">Get help to retrain</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Quiz</a>
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check your skills and experience</h1>

        <p class="govuk-body">Use this service to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>find out what you're good at</li>
          <li>see jobs you could retrain to do</li>
        </ul>

        <p class="govuk-body">You’ll need to answer 40 quiz questions to get you to the right information. It will take about 15 minutes and you'll be able to save your progress.</p>
        <p class="govuk-body">
          <strong>
          On the following screens we will ask you to agree or disagree with statements about yourself.
        </strong>
        </p>

        <a href="./skill/1" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
        </a>


      </div>


    </div>
  </main>
</div>
{% endblock %}
