<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body {
    padding: 0;
    margin: 0;
    font-size:19px;
    font-family: sans-serif;
  }
  .button{
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }
  .vignette{
    background:white; padding:2em; border: 4px solid blue;  max-width:550px; text-align: center; margin: 0 auto;
  }
</style>
<div style="position: fixed; height: 100vh; width: 100vw; display: flex; justify-content: center; flex-direction: column;">
  <div class="vignette">
    <h2>
      You've got some more information from Your City College and chosen to apply for the course
    </h2>
    <a class="button" href="./email-1">Continue</a>
  </div>
</div>
<div style=" height:100vh; width:100vw; background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));"></div>{% include "includes/scripts.html" %}</div>{% include "includes/scripts.html" %}
</div>
